/* ================================================================= */
/* ESTILO PARA EL FOOTER*/
.page-footer{
    
    color:white;

    hr{
        width: 125px;
        height: 2px;
    }

    .container ul il{
        color: white;
    }
}

