/* Estilo del header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    display: grid;
    z-index: 1;   
    grid-template-columns: repeat(15, auto);
    grid-template-rows: 62px auto auto;
    justify-items: center;
    gap: 1rem;
    background: rgb(127,220,240);
    background: linear-gradient(118deg, rgba(127,220,240,1) 4%, rgba(120,206,236,1) 37%, rgba(16,115,163,1) 43%, rgba(111,188,231,1) 70%, rgba(85,136,216,1) 73%, rgba(33,31,187,1) 89%);
    border:4px solid black;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    /* Estilo para el 1er hijo del header */
    &__logo{
        border: 3px solid black;
        padding: 1px;
        margin: 2px;
        grid-column: 1/2;
        align-items: center;
        /*  transform: rotate(720deg);
        transition: all 3s;
    */}
    /* Estilo para el 2do hijo del header */ 
    &__form{
        margin: 2px;
        grid-column: 12/14;
        align-items: center;
        grid-row: 2; 
    }
    /* Estilo para el 3er hijo del header */
    &__nabvar{
        grid-column: 5/11;
        grid-row: 3;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Estilo de letra y color para los elementos de navegación */
    /* Estilo para eliminar las viñetas de todos el proyecto*/
    /*Estilo para eliminar el subrayado*/
    &__nabvar--ul{
        display: flex;
        align-items: center;
        list-style-type: none;
        justify-content: space-evenly;
    }
    &__navbar--a{
        text-decoration: none;  
    }
}